// Variables

// Colors
$primary: #32a852;
$secondary: #f18c8e;
$tertiary: #305f72;

//Fonts
$primaryFont: "Poppins", sans-serif;
$secondaryFont: "Permanent Marker", cursive;
$tertiaryFont: "Courgette", cursive;

// Font weight
$small: 400;
$medium: 500;
$large: 600;

// CSS variables
:root {
  --header-height: 50px;
  --footer-height: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: $small;
}
