// Variables
$one: #32a852;
$two: #f1d1b5;
$three: #f0b7a4;
$four: #f18c8e;
$five: #305f72;

$firstFont: "Poppins", sans-serif;
$secondFont: "Permanent Marker", cursive;
$thirdFont: "Courgette", cursive;

$small: 400;
$medium: 500;
$large: 600;

// Css variables
:root {
  --header-height: 50px;
  --footer-height: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: $small;
}
