/* Snipcart Custom Style */

#snipcart {
  font-family: $primaryFont;
  .snipcart-item-description {
    max-width: 60%;
    &:before {
      content: "--";
      color: $primary;
    }
  }
  .snipcart-custom-field-wrapper__label {
    font-size: 14px;
    line-height: 20px;
    width: 80%;
    &:before {
      content: "--";
      color: $primary;
    }
  }
  .snipcart-text-custom-field {
    display: none;
  }
  .snipcart-cart-header__title {
    color: $secondary;
    text-transform: capitalize;
    font-size: 16px;
  }
  .snipcart-item-line__title {
    color: $secondary;
    text-transform: capitalize;
  }
  .snipcart-modal__close-title {
    color: $primary;
  }
  .snipcart-modal {
    background-color: white;
    .snipcart-cart-header,
    .snipcart-cart__content,
    .snipcart-cart__footer {
      background-color: white;
    }
    .snipcart-featured-payment-methods__title {
      background-color: white;
    }
  }
}
